<html lang="en">
<head>
    <link rel="stylesheet" href="styling.css">
    <meta charset="UTF-8">
    <title>Doc to Pdf </title>
    <title>Pdf to Doc</title>
</head>
<body>
<h1>converting doc to pdf</h1>
<h>Upload File</h>
<form action="/index" method="POST" enctype="multipart/form-data">
  <input type="file" name="filename">
  <input type="submit" value="Upload">
</form>
    <h1>
        converting pdf to doc
    </h1>
    <h>upload pdf file:</h>
    <form action="/index" method="POST" enctype="multipart/form-data">
       <input type="file" name="filename">
       <input type="submit" value="Upload">

    </form>


</body>
</html>